.color {
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.pixel {
    display: table-cell;
    line-height: 40px;
    vertical-align: top;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background: white;
}

#pixel-board {
    margin-top: 10px;
    background: white;
}

#colorOne {
    background: black;
}

#colorTwo {
    background: lime;
}

#colorThree {
    background: plum;
}

#colorFour {
    background: mediumslateblue;
}